<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.rabbitmq.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.example.rabbitmq.entity.User">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="age" jdbcType="VARCHAR" property="age"/>
    </resultMap>

    <sql id="columns">id ,name,age</sql>

    <insert id="save" keyColumn="id" useGeneratedKeys="true" keyProperty="id">
        insert into user(<include refid="columns"/>) values(#{id},#{name},#{age})
    </insert>


    <insert id="saveTemp" keyColumn="id" useGeneratedKeys="true" keyProperty="id">
        insert into user_temp(<include refid="columns"/>) values(#{id},#{name},#{age})
    </insert>










</mapper>